.about-page {
	.content {
		background-color: $white-color;
		color: $secondary-color;
		padding: 4rem 0 5rem 0;

		h3 {
			text-align: center;
			margin-bottom: 1rem;
			text-transform: uppercase;
		}

		.about {
			margin-top: 4rem;
			p {
				margin: 1rem 0;
			}
		}
	}

	.vision-mission,
	.our-values {
		background-color: $grey-color;
		color: $secondary-color;
		padding: 4rem 0 5rem 0;

		h3 {
			text-align: center;
			margin-bottom: 1rem;
			text-transform: uppercase;
		}

		.lists {
			margin-top: 4rem;

			ul {
				li::before {
					list-style: circle;
					content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
					color: $primary-color; /* Change the color */
					font-weight: bold; /* If you want it to be bold */
					display: inline-block; /* Needed to add space between the bullet and the text */
					width: 2rem; /* Also needed for space (tweak if needed) */
					font-size: 1.5rem;
				}
			}
		}
	}

	.our-values {
		background-color: $white-color;
		color: $secondary-color;
		padding: 4rem 0 5rem 0;
	}
}
