.gallery-page {
	.showcase {
		margin-bottom: 0;
		img {
			height: 60vh;
			object-fit: cover;
		}

		&-content {
			position: relative;

			.intro {
				text-transform: uppercase;
				letter-spacing: 2px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: $white-color;
				background-color: rgba($secondary-color, $opacity);
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			color: $white-color;
		}
	}

	.content {
		background-color: $white-color;
		color: $secondary-color;
		padding: 4rem 0 5rem 0;

		h3 {
			text-align: center;
			margin-bottom: 1rem;
			text-transform: uppercase;
		}

		.photos {
			margin-top: 4rem;
			display: grid;
			grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(
					200px,
					1fr
				);
			grid-gap: 1rem;

			.image {
				height: 350px;
				position: relative;
				@include easeOut();
				img {
					height: 100%;
					object-fit: cover;
				}

				h6 {
					text-transform: uppercase;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-color: rgba($secondary-color, $opacity);
					color: $white-color;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					opacity: 0;
					@include easeOut();
				}

				&:hover {
					h6 {
						opacity: 1;
					}
				}
			}
		}
	}
}
