img {
	width: 100%;
}

a {
	text-decoration: none;
	color: $black-color;
}

li {
	list-style: none;
}

.container {
	width: 85%;
	max-width: 1224px;
	margin: auto;
}

@mixin borderBottom {
	border-bottom: 3px solid $primary-color;
}

@mixin easeOut {
	transition: 0.5s all ease-out;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}
