img {
	width: 100%;
}

a {
	text-decoration: none;
	color: $black-color;
}

li {
	list-style: none;
}

.container {
	width: 90%;
	max-width: 1224px;
	margin: auto;
}

@mixin borderBottom {
	border-bottom: 3px solid $primary-color;
}

@mixin easeOut {
	transition: 0.5s all ease-out;
}

.loading {
	animation: spin 1s infinite linear;
}

@keyframes spin {
	from {
		transform: scale(1) rotate(0deg);
	}
	to {
		transform: scale(1) rotate(360deg);
	}
}

h1 {
	font-size: 3.5rem;
	font-weight: lighter;
}

h2 {
	font-size: 2.5rem;
	font-weight: lighter;
}

h3 {
	font-size: 2rem;
	font-weight: lighter;
}

h4 {
	font-size: 1.5rem;
	font-weight: lighter;
}

h5 {
	font-size: 1.25rem;
	font-weight: lighter;
}

h6 {
	font-size: 1rem;
	font-weight: lighter;
}

// Showcase for pages
.showcase {
	margin-bottom: 0;
	img {
		height: 60vh;
		object-fit: cover;
	}

	&-content {
		position: relative;

		.intro {
			text-transform: uppercase;
			letter-spacing: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $white-color;
			background-color: rgba($secondary-color, $opacity);
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		color: $white-color;
	}
}

.text-primary {
	color: $primary-color;
}

.text-secondary {
	color: $secondary-color;
}

.line-white,
.line-primary {
	background-color: $white-color;
	padding: 0.1rem 0;
	width: 60%;
	margin: 0 auto;
	border-radius: $radius;
	// height: 3px;
}

.line-primary {
	background-color: $primary-color;
}

.btn {
	font-family: "__Oldenburg_709b3f", "__Oldenburg_Fallback_709b3f";
	letter-spacing: 2px;
	padding: 1rem 2rem;
	text-transform: uppercase;
	border: none;
	outline: none;
	font-weight: bold;
	border-radius: $radius;
	cursor: pointer;
	@include easeOut();

	&-secondary {
		background-color: $secondary-color;
		color: $white-color;

		&:hover {
			background-color: darken($secondary-color, $darken);
		}
	}

	&-primary {
		background-color: $primary-color;
		color: $white-color;

		&:hover {
			background-color: darken($primary-color, $darken);
		}
	}
}

.modal {
	position: fixed; /* Stay in place */
	z-index: 6; /* Sit on top */
	// padding-top: 100px; /* Location of the box */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%; /* Full width */
	height: 100vh; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba($secondary-color, 0.9); /* Black w/ opacity */

	&-container {
		position: relative;
	}

	&-content {
		margin: auto;
		display: block;
		width: 100%;
		height: 600px;
		width: 600px;
		object-fit: cover;
		border-radius: $radius;
	}

	/* Caption of Modal Image */
	.caption {
		position: absolute;
		bottom: 0%;
		left: 0;
		margin: auto;
		display: block;
		width: 100%;
		max-width: 700px;
		text-align: center;
		color: $white-color;
		height: 50px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/* Add Animation */
	&-content,
	.caption {
		-webkit-animation-name: zoom;
		-webkit-animation-duration: 0.6s;
		animation-name: zoom;
		animation-duration: 0.6s;
	}

	@-webkit-keyframes zoom {
		0% {
			-webkit-transform: scale(0);
		}
		100% {
			-webkit-transform: scale(1);
		}
	}

	@keyframes zoom {
		0% {
			-webkit-transform: scale(0);
		}
		100% {
			-webkit-transform: scale(1);
		}
	}

	/* The Close Button */
	.close {
		position: absolute;
		top: 20px;
		right: 35px;
		cursor: pointer;
		color: $grey-color;
		@include easeOut();
	}

	.close:hover,
	.close:focus {
		color: $primary-color;
	}
}

form {
	div {
		margin: 1rem 0;
		label {
			text-transform: uppercase;
			font-size: 0.8rem;
			font-family: "__Oldenburg_709b3f", "__Oldenburg_Fallback_709b3f";
		}
		input,
		textarea {
			font-family: "__Oldenburg_709b3f", "__Oldenburg_Fallback_709b3f";
			padding: 1rem;
			background: transparent;
			border: 1px solid $secondary-color;
			border-radius: $radius;
			width: 100%;
			outline-color: $primary-color;
		}
	}
}

.up-icon {
	background-color: $secondary-color;
	padding: 1rem;
	border-radius: $radius;
	margin-top: 3rem;
	width: 3rem;
	position: fixed;
	bottom: 3%;
	right: 2%;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	cursor: pointer;
	@include easeOut();

	svg {
		color: $white-color;
		animation: move 3s infinite;
		@include easeOut();
	}

	@keyframes move {
		0% {
			transform: translateY(0%);
		}
		50% {
			transform: translateY(40%);
		}
		100% {
			transform: translateY(0%);
		}
	}

	&:hover {
		background-color: darken($secondary-color, $darken);

		i {
			color: $white-color;
		}
	}
}
