@import "config";
@import "utilities";
@import "home";
@import "about";
@import "contact";
@import "gallery";
@import "reservations";
@import "success";
@import "error";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "__Oldenburg_709b3f", "__Oldenburg_Fallback_709b3f";
}

body {
	background-color: $white-color;
	color: $black-color;
	line-height: 1.7;
	width: 100%;
	height: 100%;
	font-size: 15px;
	font-weight: lighter;
	position: relative;
	margin-top: 70px;
}

header {
	background-color: $white-color;
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	width: 100%;
	z-index: 5;
	@include borderBottom();

	&,
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo {
			h3 {
				color: $primary-color;
				@include easeOut();

				&:hover {
					color: $secondary-color;
				}
			}
		}

		.links {
			@include easeOut();
			ul {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 1rem;

				a {
					padding: 0.5rem 1rem;

					li {
						@include easeOut();
					}
					&:hover {
						color: $primary-color;
					}
				}
			}
		}

		.burger {
			display: flex;
			align-items: center;
			justify-content: center;
			display: none;
			svg {
				@include easeOut();
				cursor: pointer;
				color: $primary-color;
			}

			&:hover {
				svg {
					color: $secondary-color;
				}
			}
		}
	}
}

footer {
	background-color: $primary-color;
	color: $white-color;
	padding: 3rem 0;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;

		a {
			color: $white-color;
		}

		.icons {
			margin: 2rem 0 1rem 0;

			svg {
				margin: 0 0.5rem;
				font-size: 1.5rem;
				@include easeOut();
			}
			.facebook:hover {
				color: #4267b2;
			}

			.instagram:hover {
				color: #bf2e8e;
			}
		}

		p {
			color: $secondary-color;
		}
	}
}

@import "mobile";
